[project]
name = "shirin"
version = "2.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.9"
dependencies = [
    "matplotlib",
    "seaborn",
    "numpy",
    "pandas",
    "ipykernel",
]

[dependency-groups]
dev = [
    "jupyter",
    "pytest>=8.4.2",
]
